@charset "UTF-8";

.contenedor{
    width:800px;
    margin:10px auto;
}

button{
    width: 100px;
    position:relative;
}
.tooltip{
    display:none;
    position:absolute;
    top:50px;
    right: -50px;
    line-height:30px;
    width:150px;
    border-radius:5px;
    box-shadow: 1px 1px 5px gray;
    color: white;
    background-color: black;
}
button:hover .tooltip{
    display:inline-block;
}


