@charset "UTF-8";
* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    color: white;
}

.cabecera {
    line-height: 3em;
    background-color: #333;
}

.dispositivo {
    line-height: 3.5em;
    background-color: #045;
}

.pie {
    line-height: 2.5em;
    background-color: #555;
}

.fila-1 {
    line-height: 6em;
    background-color: #090;
}

.fila-2 {
    line-height: 6em;
    background-color: #099;
}

.fila-3 {
    line-height: 6em;
    background-color: #505;
}

.fila-1,
.fila-2,
.fila-3,
.pie,
.dispositivo,
.cabecera {
    box-shadow: 0 0 0 2px white;
}

.separa-extra{
    margin-bottom: 2px;
}
