@charset "UTF-8";
* {
    box-sizing: border-box
}

body {
    background: #ddb;
    font-family: Helvetica,Arial,sans-serif;
}

.contenedor {
    width: 1000px;
    margin: 5px auto;
}

header {
    height: 180px;
    display: flex;
    justify-content: space-between;
}

main{
    margin-bottom:10px;
    background: #fff;
    padding: 20px;
}

p{text-align:justify;line-height:1.5em;}

.titulo,
.sociales {
    width: 200px;
}

.sociales{
    margin-top: 30px;
}

.sociales ul{
    display:flex;
    justify-content:space-around;
}

.sociales img{
    width: 24px;
    vertical-align:middle;
}

.sociales a{
    text-decoration:none;
    color: #000;
}

.titulo h1{
    font-size: 40px;
}

.titulo p{
    font-style: italic;
    font-size: 12px;
}

nav{
    background:#07f;
}

nav ul{
    width: 800px;
    margin:0 auto;
    display:flex;
    justify-content:space-around;
}

nav li.activo {
    text-transform: uppercase;
}

nav a{
    display:block;
    text-decoration:none;
    color:#000;
    line-height: 40px;
}
nav a:hover{
    color:#fff;
}

.presentacion{
    margin-top: 30px;
    background:url('../imgs/presentacion.png'), #eec;
    background-size: cover;
    height: 300px;
    position:relative;
}

.presentacion div{
    width: 400px;
    position: absolute;
    top: 30px;
    left: 500px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255,255,255,.6);
}

.presentacion p{
    margin: 20px 0;
}

.presentacion a{
    padding:5px 10px;
    background: #000;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.articulos{
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
}

.articulos>div{
    min-width:300px;
    flex: 0 1 450px;
}

.articulos h2{
    margin-bottom: 10px;
}

.izda, .dcha{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.dcha img{
    width:100%;
    height: 130px;
}

article{
    margin-bottom: 40px;
}

article a{
    color: #000;
    font-weight: bold;
}

footer{
    background: #fff;
    height: 50px;
    padding: 20px;
}

footer p{
    text-align: center;
    font-size: 10px;
}
