@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

body{
    padding-top: 50px;
}

ul{
    background-color: black;
    width: 900px;
    height: 100px;
    margin: 0 auto;
    padding-top: 20px;
    list-style: none;
    display:flex;
    justify-content: space-around;
}

li{
    flex: 0 0 200px;
}

a{
    display:block;
    text-decoration: none;
    color: white;
    text-align:center;
    border-top: 3px solid white;
    padding-top: 10px;
}

a:hover{
    border-top: 1px solid white;
    font-weight: bold;
}


