@charset "UTF-8";

.contenedor{
    width:980px;
    height:1374px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}

.cabecera{
    width:646px;
    height:75px;
    margin: 0 auto;
    font-size: 40px;
}

.fotos{
    width:980px;
}

.col1,.col2,.col3,.col4{
    width:220px;
    height:250px;
    float:left;
}

.col1,.col2,.col3{
    margin-right:20px;
}
