@charset "UTF-8";
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

div {
    width: 90%;
    min-width: 1000px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 2px rgba(200, 200, 200, 0.7);
    margin: 20px auto;
    padding: 5px 10px;
}

form>div>p {
    font-weight: bold;
}

h1 {
    text-align: center;
    border-bottom: 1px solid #eee;
    box-shadow: 0 10px 35px -15px #ccc;
}

h5#tiempo {
    float: right;
    position: fixed;
    top: 70px;
    right: 10px;
    color: blue;
}

form>p {
    text-align: center;
}

.oculto {
    display: none;
}

.visible {
    display: block;
}

table{
    margin: 0 auto;
}
