.tabla {
    display: table;
    margin: 10px auto;
    border-spacing: 5px 20px;
    border: 5px solid red;
    border-collapse: separate; /* collapse;*/
}

.fila {
    display: table-row;
    /*border: 2px solid blue; no va en las filas, 
    						  es para las celdas*/
}

.celda {
    display: table-cell;
    width: 200px;
    height: 50px;
    background-color: #ccc;
    border: 2px solid blue;
    /*border-spacing: 20px; la separación de celdas va 
                            en la tabla porque es una regla 
                            de estructura*/
}