.tabla {
    display: table;
    margin: 10px auto;
}

.fila1,
.fila2 {
    display: table-row;
}

.fila1 {
    height: 300px;
}

.fila2 {
    height: 200px;
}

.celda1,
.celda2,
.celda3 {
    display: table-cell;
    background-color: #cdf;
    vertical-align: middle;
    text-align: center;
}

.celda1:hover,
.celda2:hover,
.celda3:hover {
    outline: 10px solid red;
}

.celda1 {
    width: 400px;
}

.celda2 {
    width: 200px;
}

.celda3 {
    width: 300px;
}

h1 {
    font-size: 30px;
}

.centrar div {
    width: 80px;
    height: 100px;
    background-color: black;
    float: left;
}

.centrar div:last-child {
    background-color: #777;
}

.centrar {
    width: 160px;
    margin: 0 auto;
    height: 100px;
}