.wrapper {
    display: table;
    margin: 40px auto;
}

.encabezado,
.cuerpo {
    display: table-row;
}

.encabezado {
    height: 25px;
}

.encabezado>di v {
    background-image: url("../imgs/city.png");
    background-size: cover;
}

.cuerpo {
    height: 15px;
}

.encabezado>div,
.cuerpo>div {
    display: table-cell;
    width: 100px;
}


.cuerpo>div {
    background-color: #ccc;
}