body {
    background-image: url("../imgs/pgbk.gif");
    background-repeat: repeat-x;
    background-size: contain;
    height: 100vh;
}

.wrapper,
header,
main,
footer {
    width: 735px;
}

.wrapper {
    margin: 40px auto;
    box-shadow: 0 0 10px 2px #333;
}

header {
    background-image: url("../imgs/key_visual1.jpg");
    background-repeat: no-repeat;
    height: 335px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: #ccc;
}

nav>ul {
    list-style: none;
}

nav>ul>li {
    float: left;
}

nav>ul>li>a {
    color: #f7602a;
    text-decoration: none;
    line-height: 35px;
    padding-right: 45px;
    padding-left: 5px;
    display: block;
    font-weight: bold;
}

nav>ul>li>a:hover {
    background-color: #f9bf61;
}

main,
footer {
    background-color: rgb(85, 122, 146);
    color: white;
    font-size: 14px;
}

main {
    position: relative;
}

main>p>img {
    padding: 10px 0;
    width: 735px;
}

.wallys {
    width: 40px;
    height: 40px;
    position: absolute;
}

#wally {
    bottom: 95px;
    right: 175px;
}

#wally2 {
    top: 180px;
    left: 265px;
}

#wally3 {
    top: 385px;
    left: 430px;
}

#wally4 {
    bottom: 85px;
    right: 165px;
}

#wally5 {
    bottom: 100px;
    right: 100px;
}

footer {
    height: 30px;
}

footer>p {
    text-align: center;
}
