* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    padding: 0;
}

p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.contenedor {
    width: 920px;
    height: 176px;
    margin: 0 auto;
    background-color: #eee;
}

.header,
.content,
.footer {
    width: 900px;
    margin-left: 10px;
}

.header {
    height: 24px;
}

.header>h3 {
    border-bottom: 1px solid black;
}

.content {
    height: 93px;
}

.footer {
    height: 23px;
}

.footer>h3 {
    border-top: 1px solid black;
    text-align: center;
}