* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
}

p {
    margin-top: 20px;
}

#contenedor {
    padding: 10px;
    width: 900px;
    height: auto;
    margin: 0 auto;
    background-color: #eee;
}

.header,
.content,
#contenedor,
.footer {
    width: 900px;
}

.header,
.content {
    border-bottom: 1px solid #bbb;
}

.header {
    height: 24px;
}

.content {
    height: 93px;
}

.footer {
    height: 23px;
}

.footer>h3 {
    text-align: center;
}