body {
    background-color: #bbb;
}

.header {
    border-bottom: 1px solid #aaa;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    text-align: justify;
    padding-top: 40px;
}

#wrapper {
    width: 900px;
    padding: 10px;
    height: 340px;
    margin: 0 auto;
    background-color: #ccc;
}

.col01,
#col02 {
    width: 400px;
    float: left;
    margin-bottom: 40px;
}

#col02 {
    margin-left: 10px;
}

#footer {
    clear: both;
    border-top: 1px solid #aaa;
}