.wrapper {
    width: 800px;
    margin: 0 auto;
}

.columna {
    float: left;
}

.columna>div {
    width: 100px;
    margin: 0 50px;
    height: 100px;
    background-color: #ccc;
}

.columna>div:first-child {
    margin-bottom: 30px;
}

.columna>div>img {
    width: 100px;
}