.wrapper {
    width: 800px;
    margin: 0 auto;
}

.columna{
	float: left;
}

.foto {
    width: 100px;
    margin: 0 50px;
    height: 100px;
    background-color: #ccc;
}

.foto1>img{
	width: 100px;
}

.columna>div:first-child{
	margin-bottom: 30px;
}
