.contenedor {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

.menu,
.centro {
    height: 1000px;
    float:left;
}

.menu {
    width: 300px;
    background-color: #999;
}

.centro,
.titulo,
.contenido,
.pie {
    width: 400px;
}

.titulo,
.pie {
    height: 50px;
}

.contenido {
    height: 900px;
}

.titulo{
	background-color: #ccc;
}

.pie{
	background-color: #333;
}