.sinEstilo {
    list-style: none;
}

.conCirculos {
    list-style: circle;
}

.conCuadrados {
    list-style: square;
}

.conRomanos {
    list-style: upper-roman;
}

.conGriego {
    list-style: lower-greek;
}