@charset "UTF-8";

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ddd;
}

.fondoSuperior {
    width: 100%;
    height: 213px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../imgs/bg.gif");
}

.contenedor {
    width: 1000px;
    padding-top: 60px;
    margin: 0 auto;
}

header {
    color: white;
}

header h1 {
    font-size: 40px;
}

header p {
    font-size: 12px;
}

nav {
    background-color: black;
    margin: 30px 20px 0 20px;
}

nav>ul {
    display: flex;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    margin-right: 4px;
}

nav a.menuActivo,
nav a:hover {
    background: linear-gradient(#ddd, white 80%);
    border-radius: 10px 10px 0 0;
    color: black;
}

main {
    background: linear-gradient(#ddd, white 4%);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    padding: 15px;
}

section:first-child {
    background-image: url("../imgs/pitch.jpg");
    background-size: cover;
    border-radius: 10px;
    padding: 50px 20px;
    height: 209px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

section:first-child div:first-child {
    min-width: 300px;
    flex: 1 1 30%;
}

section:first-child div:first-child h1 {
    font-size: 25px;
    text-shadow: 2px 2px #555;
    margin-bottom: 10px;
}

section:first-child div:last-child {
    min-width: 500px;
    flex: 2 1 50%;
    font-size: 17px;
}

section:last-child {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

article {
    width: 300px;
}

article h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

article img {
    width: 300px;
    padding:5px;
    border: 2px solid #ccc;
}

article p {
    margin-top: 20px;
}

a.cerrar{
    display:none;
    font-size: 20px;
    text-decoration: none;
}

a.leerMas {
    text-decoration: none;
    margin-left: 10px;
}

a.leerMas::before {
    content: "";
    position: absolute;
    transform: translateY(30%);
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 5px solid blue;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

article:target{
    position: fixed;
    background-color: rgba(0 ,0 ,0, .8);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

article>div{
    transition: all 1s;
}

article:target > div{
    background-color: white;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

article:target img{
    width: 100%;
}

article:target a.leerMas{
    display:none;
}

article:target a.cerrar{
    display:inline;
}
