body {
    background-image: url("../imgs/pgbk.gif");
    background-repeat: repeat-x;
    background-size: contain;
    height: 100vh;
}

.wrapper,
header,
main,
footer {
    width: 735px;
}

.wrapper {
    margin: 40px auto;
    box-shadow: 0 0 10px 2px #333;
}

header {
    background-image: url("../imgs/key_visual1.jpg");
    background-repeat: no-repeat;
    height: 335px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    bottom: 50px;
    left: 0;
    background-color: #ccc;
}

nav>ul {
    list-style: none;
}

nav>ul>li {
    float: left;
}

nav>ul>li>a {
    color: #f7602a;
    text-decoration: none;
    line-height: 35px;
    padding-right: 45px;
    padding-left: 5px;
    display: block;
    font-weight: bold;
}
nav>ul>li>a:hover{
    background-color: #f9bf61;
}
main,
footer {
    background-color: rgb(85, 122, 146);
    color: white;
    font-size: 14px;
}

main {
    height: 400px;
}
main>p{
    padding: 100px 10px 0 10px;
}

footer {
    height: 30px;
}
footer>p{
    text-align: center;
}