body{
    background-color:#ccc;
}
.pie{
  background-color:#555;
  color:yellow;
  clear:both;
}
.contenido{
  height: 800px;
  margin:0 auto;
}

h1{
  font-size: 30px;
  font-weight: bold;
}

h2{
  font-size: 25px;
  font-weight: bold;
}

