@charset "UTF-8";

*{
    box-sizing:border-box;
}

body{
    padding-top: 50px;
    width:100%;
}

.color-1{
    background-color: #ddd;
    height:40px;
}
.color-2{
    background-color: #ccc;
    height:350px;
}
.color-3{
    background-color: #999;
    height:50px;
}
.color-4{
    background-color: #eee;
    height:200px;
}
.color-5{
    background-color: #333;
    height:50px;
}


div.row div{
    box-shadow:0 0 0 1px black;
}

@media (max-width:991px){
    .color-2{
        height:650px;
    }
}
