@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    background-color:#333;
}

.contenedor{
    width: 900px;
    margin: 0 auto;
}

nav{
    width: 700px;
    margin-left: auto;
    background-color:#555;
}

ul{
    display:flex;
    justify-content:space-around;
}

a{
    text-decoration:none;
    display:block;
    text-align: center;
    color:white;
    line-height: 40px;
}

nav a.active::before{
    content:">>";
    font-weight:bold;
    margin-right:10px;
}

a.active{
    font-weight:bold;
}

#vista{
    height:600px;
    box-shadow: inset 0 0 10px 15px rgba(255,255,255,.7);
}

#fotos>div img,
#vista img {
    position: relative;
    z-index: -1;
}

.miniaturas{
   height: 200px;
}

#fotos{
    height: 150px;
    display: flex;
    justify-content:space-between;
}

#fotos>div{
    margin-top: 30px;
    width:200px;
    height:100px;
    box-shadow: inset 0 0 0px 5px white;
}

#fotos>div.actual{
    box-shadow: 0 0 10px 5px white;
}

#paginacion{
    height: 30px;
}

#paginacion a {
    font-weight: bold;
    font-size: 25px;
}
