@charset "utf-8";

body,
html {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 40px auto;
    background-color: #ccc;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.tabla {
    display: table;
    border-spacing: 100px;
    width: 100%;
}

.fila {
    display: table-row;
    height: 250px;
}

.fila div {
    display: table-cell;
    border-radius: 20px;
}

.fila:first-child div:first-child {
    background-color: red;
    box-shadow: 20px -20px 0 green;
}

.fila:first-child div:last-child {
    background-color: yellow;
    box-shadow: -30px 30px 10px blue;
}

.fila:last-child div:last-child {
    background-color: purple;
    box-shadow: 30px 30px 0 blue;
}

.fila:last-child div:last-child:hover {
    background-color: blue;
    box-shadow: 30px 30px 0 purple;
}

.fila:last-child div:first-child {
    background-color: green;
    box-shadow: -20px -20px 10px orange;
}