@charset "utf-8";

body,
html {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 40px auto;
    background-color: #ccc;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.tabla {
    display: table;
    border-spacing: 100px;
    width: 100%;
}

.fila {
    display: table-row;
    height: 300px;
}

.fila>div {
    display: table-cell;
    border-radius: 25px;
}

.fila>div:first-child {
    background-image: url("../imgs/piedra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -20px -20px 10px red,
    20px 20px 10px green;
}

.fila>div:last-child {
    background-image: url("../imgs/tierra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 20px -20px 5px red,
    -20px 20px 5px green;
}

.fila>div:last-child:hover {
    box-shadow: 20px -20px 5px green,
    -20px 20px 5px red;
}