@charset "utf-8";

body,
html {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1200px;
    margin: 40px auto;
    background-color: #ccc;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.tabla {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
}

.fila {
    display: flex;
    justify-content: space-around;
    height: 250px;
}

.fila>div {
    width: 500px;
    margin: 40px;
    border-radius: 15px;
    background: linear-gradient(to left, blue, white);
}

.fila>div>h2{
    text-align: center;
    font-size: 30px;
    color:white;
}

.fila>div:hover>h2{
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}

.fila>div:hover{
    margin:20px;
    background: linear-gradient(to right, blue, white);
}