@charset "utf-8";

.wrapper {
    width: 1200px;
    margin: 50px auto;
    padding-top: 50px;
    background-color: #bbb;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.fila {
    display: flex;
    justify-content: space-around;
}

.fila>div {
    width: 400px;
    height: 300px;
    margin: 100px 0;
}

.fila>div:first-child {
    border-radius: 50px;
    background-image: url(../imgs/piedra.jpg);
    box-shadow: 20px -20px 0 rgba(0, 255, 0, 0.5);
}

.fila>div:last-child {
    border-radius: 30px;
    background-image: url(../imgs/panes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -20px 20px 0 rgba(0, 0, 255, 0.4);
}