@charset "UTF-8";
* {
    box-sizing: border-box;
}

.contenedor {
    width: 1000px;
    margin: 20px auto;
}

h1,
#mensaje,
canvas,
main>section {
    box-shadow: 1px 1px 5px black;
    background-color: #eee;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: black;
    text-shadow: 2px 2px #fff;
}

#mensaje {
    text-align: center;
    font-size: 20px;
    color: blue;
    line-height: 50px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

#tiempo {
    color: green;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-around;
}

main>section,
main>canvas {
    height: 400px;
    width: 400px;
}

.jugador {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#frase,
#acciones {
    height: 40px;
}

#frase {
    text-align: center;
    font-size: 25px;
}

#acciones>ul {
    display: flex;
    justify-content: space-around;
}

#acciones a {
    text-decoration: none;
    color: white;
    line-height: 30px;
    background-color: #388;
    display: block;
    width: 100px;
    text-align: center;
    box-shadow: 1px 1px 5px #555;
}

#acciones a:hover {
    box-shadow: 0 0 5px 2px #555;
}

#acciones a:active {
    box-shadow: none;
}
