body {
    font-family: 'Lily Script One', cursive;
}

.wrapper {
    width: 1000px;
    margin: 30px auto;
    color: white;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}

header,
aside,
main,
footer,
.nota {
    background-color: #333;
    border-radius: 10px;
}

header,
footer {
    height: 80px;
    width: 1000px;
}

aside,
main {
    margin: 30px 0;
}

aside {
    float: left;
    width: 300px;
    height: 400px;
}

ul {
    width: 250px;
    margin: 30px auto;
}

ul>li>a {
    background-color: #ccc;
    border-radius: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    line-height: 30px;
}

main {
    float: right;
    width: 600px;
    height: 600px;
}

.nota {
    width: 200px;
    height: 200px;
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #ccc;
}

.nota>img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    left: -10px;
}

footer {
    clear: both;
}

footer>p {
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 20px;
}