body{
    background-color: #008080;
}

.wrapper{
    width: 1000px;
    margin: 0 auto; 
    padding: 50px 0;
    height: 100vh;
    background: linear-gradient(to left, #30b0b0,white,white, white);
}

.wrapper>p{
    margin-left: 30px;
    margin-right: 300px;
    font-size: 25px;
}