body {
    width: 100vw;
    height: 100vh;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.fila {
    display: table-row;
}

.fila>div {
    display: table-cell;
    width: 50%;
}

.fila:nth-child(odd) {
    background-color: #008fb3;
    height: 25%;
}

.fila:nth-child(3)>div{
    font-size: 14px;
    padding: 20px 40px;
    color: white;
}

.fila:nth-child(2)>div:first-child {
    background-image: url(../imgs/bebe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fila:nth-child(2)>div:last-child {
    padding: 40px;
}

ul {
    list-style: none;
    margin-top: 55px;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

h1{
        position: relative;
}

.titulo {
    background-color: #008fb3;
    color: white;
    text-shadow: 1px 1px #000;
    padding: 5px 5px;
    border-radius: 8px;
    font-size: 25px;
    font-family: Verdana, Geneva, sans-serif;
}

.cejilla{
    position: absolute;
    top:-12px;
    left:100px;
    font-size: 25px;
}
.mundo {
    color: #008fb3;
}