@charset "utf-8";
body {
    padding-top: 50px;
    font-size: 15px;
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.wrapper>p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.articulo {
    background-color: #e2edff;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 15px;
    overflow: hidden;
}

.articulo>div {
    float: left;
}

.articulo>.descripcion>h2{
    font-size: 18px;
    color:#47a9ff;
}

.articulo>.descripcion>p {
    text-align: justify;
    padding: 10px 15px 0 15px;
}

.articulo>.imagen {
    width: 100px;
    margin-top: 10px;
}

.articulo>.descripcion {
    width: 650px;
    padding: 0 10px;
}

.articulo>.compra {
    width: 200px;
}

.articulo>.imagen>img {
    width: 100px;
}

.articulo>.compra>p>a>img {
    width: 200px;
}

.articulo>.compra>p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.precio {
    color: red;
    font-size: 25px;
}

.iva {
    font-weight: normal;
    font-size: 16px;
}

.oculto{
    display: none;
}

.oculto:target{
    display: inline;
}

.mas{
    text-decoration:none;
    font-weight:bold;
}

