@charset "utf-8";

.wrapper{
    width: 1200px;
    margin: 40px auto;
}

header{
    border-top: 5px solid #af691d;
    border-bottom: 5px solid #af691d;
}

header>nav>ul{
    display: flex;
    width: 600px;
    margin:10px 0 10px auto;
    justify-content: space-around;
}

header>nav a,
main>aside>nav a{
    color: #dd9342;
    text-decoration: none;
    line-height: 20px;
    display: block;
    border:2px solid #dd9342;
    border-radius: 20px;
    padding:0 30px;
}

header>nav a:hover,
main>aside>nav a:hover{
    background-color: #dd9342;
    color: white;
}

main{
    border-bottom: 5px solid #af691d; 
    margin: 20px 20px; 
    padding-bottom: 20px;
    display: flex;
    justify-content:space-around;
}

main>aside>nav a{
    margin-bottom: 10px;
    text-align: center;
}

main>aside>nav li.activo a{
    border:2px solid red;
}

li.activo{
    border-bottom: 5px solid #af691d;
    margin-bottom: 10px;
}

main>.cuerpo{
    border-left: 5px solid #af691d;
    width: 80%;
    padding-left: 30px;
}

main>.cuerpo img{
    width: 100%;
}

hr{
    width: 60px;
    color:#af691d;
    border-style: solid;
    border-width: 2px;
}
