@charset "utf-8";

*{
	box-sizing: border-box;
}

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrapper{
	width: 700px;
	margin: 50px auto;
}

h1{
	font-size: 3em;
	color: #999;
	margin-bottom: 50px;
}

.nombreMes{
	color: darkblue;
	font-size: .7em;
}

.mes{
	display: table;
}

.semana{
	display:table-row;
	height: 80px;
}

.semana div{
	display: table-cell;
	width: 100px;
	vertical-align: middle;
	text-align: center;
	font-size: 2.1em;
	color:darkblue;
	font-weight: bold;
	border: 1px solid #999;
}

.cabecera div{
	background-color: #e5f6ff;
	color: #999;
	font-size: 2em;
}

.semana>div.fiesta{
	color: red;
}

.semana>div.reunion{
	color:darkgreen;
}

.semana:nth-child(4)>div:nth-child(4){
	position: relative;
}

.semana>div>div{
	position: absolute;
	width: 100px;
	height: 0;
	border-style:solid;
	border-color:#e5f6ff transparent transparent transparent;
	border-width: 20px 50px 0 50px;
	top:0;
	left:0;
}


