.wrapper {
    display: table;
    margin: 40px auto;
}

.encabezado,
.pie {
    display: table-row;
    height: 100px;
    background-color: #ccc;
}

.cuerpo {
    display: table-row;
    height: 300px;
    background-color: #555;
}

.encabezado>div,
.cuerpo>div,
.pie>div {
    width: 900px;
    display: table-cell;
}

.main {
    display: table;
}

.main>div {
    display: table-row;
    height: 300px;
}

.main>div>div {
    display: table-cell;
    width: 450px;
}

.main>div>div:last-child {
    background-color: #999;
}