.wrapper {
    display: table;
    margin: 40px auto;
}

.encabezado,
.pie {
    display: table-row;
    height: 100px;
    background-color: #ccc;
}

.cuerpo {
    display: table-row;
    height: 300px;
    background-color: #555;
}

.encabezado>div,
.cuerpo>div,
.pie>div {
    width: 900px;
    display: table-cell;
}

.main,.footer{
    display: table;
}

.main>div {
    display: table-row;
    height: 300px;
}

.main>div>div {
    display: table-cell;
    width: 300px;
}

.main>div>div:last-child,
.footer>div>div:first-child{
    background-color: #999;
}

.main>div>div:first-child {
    background-color: #aaa;
}

.footer>div{
    display: table-row;
    height: 100px;
}
.footer>div>div{
    width: 450px;
    display:table-cell;
}