.wrapper {
    display: table;
    margin: 40px auto;
}

.encabezado,
.pie {
    display: table-row;
    height: 100px;
    background-color: #ccc;
}

.cuerpo {
    display: table-row;
    height: 300px;
    background-color: #555;
}

.encabezado>div,
.cuerpo>div,
.pie>div {
    width: 900px;
    display: table-cell;
}

.footer,
.header {
    display: table;
}

.footer>div>div:first-child,
.header>div>div:first-child {
    background-color: #999;
}

.footer>div>div:last-child{
    background-color: #333;
}
.footer>div,
.header>div {
    display: table-row;
    height: 100px;
}

.footer>div>div{
    width: 300px;
    display: table-cell;
}
.header>div>div {
    width: 450px;
    display: table-cell;
}