.wrapper {
    display: table;
    margin: 40px auto;
}


.pie {
    display: table-row;
    height: 100px;
    background-color: #ccc;
}

.cuerpo {
    display: table-row;
    height: 500px;
    background-color: #555;
}

.cuerpo>div,
.pie>div {
    width: 900px;
    display: table-cell;
}

.footer{
    display: table;
}

.footer>div>div:first-child{
    background-color: #999;
}

.footer>div>div:last-child{
    background-color: #333;
}
.footer>div{
    display: table-row;
    height: 100px;
}

.footer>div>div{
    width: 450px;
    display: table-cell;
}
