@charset "UTF-8";


div{
    box-shadow: 0 0 0 2px white;
}

.container,
.row{
    box-shadow:none;
}

.cabecera{
    text-align:center;
    line-height: 3em;
    background-color: #070;
    font-size: 20px;
    font-style: italic;
}

.pie{
    text-align: center;
    line-height: 3em;
    background-color:#ec0;
    font-size: 20px;
    font-style: italic;
}

.main-1{
    text-align:left;
    background-color:#d00;
    line-height: 3em;
    font-size: 50px;
}

.main-2{
    text-align:center;
    background-color:#eee;
    line-height: 3em;
    font-size: 50px;
}
.main-3{
    text-align:right;
    background-color:#d00;
    line-height: 3em;
    font-size: 50px;
}

@media (min-width:750px){
    .main-3{
        background-color: #eee;
        text-align: center;
    }
    .main-2{
        background-color:#d00;
        text-align: right;
    }
    .cabecera{
        text-align:left;
    }
}

@media (min-width:970px){
    .main-3{
        background-color:#d00;
    }
    .main-1,.main-2{
        text-align: center;
    }
    .main-1,.main-2,.main-3{
        height:9em;
    }
}
