*{
    margin:0px;
    padding:0px;
}

html,body{
    width:100%;
    height: 100%;
}

.container{
    width:80%;
    margin: 10px auto;
    background-color: #f9f9f9;
    border: 1px solid silver;
    color: #100;
    min-height: 200px;
    padding:10px;
}



