@charset "utf-8";

*{
	box-sizing: border-box;
}

html,
body{
	width: 100%;
	height: 100%;
	font-family: serif;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
	position:relative;
}

header{
	position: absolute;
	top:0;
	left:200px;
	height: 100px;
	width: 600px;
	background-color: #999;
    z-index:2;
}

h1{
	color: white;
	text-align: center;
	font-size: 3em;
	font-style: italic;
	margin-top: 20px;
}

main{
	width: 100%;
	background-color: #555;
	height: 100%;
	overflow: hidden;
}

.cabecera{
	background-color: white;
	width: 100%;
	height: 50px;
    position:relative;
}

aside{
	width: 20%;
	background-color: #999;
	height: 70%;
	float:left;
	border: 5px solid #555;
    position:relative;
}

section{
	width: 80%;
	background-color:#999;
	height: 100%;
	float:left;
	margin-top:50px;
	border-top: 5px solid #555;
	border-right: 5px solid #555;
    padding: 10px;
}
.clipSup{
    width:50px;
    height:40px;
    border-top:8px solid #555;
    border-left:8px solid #555;
    border-right:8px solid #555;
    border-radius:30px 30px 0 0;
    position:absolute;
    left:75px;
    top:15px;
}
.clipInf{
    position:absolute;
    left:70px;
    top:0;
    width: 60px;
    height:130px;
    border-bottom:8px solid #555;
    border-left:8px solid #555;
    border-right:8px solid #555;
    border-radius:0 0 30px 30px;
}

aside>nav{
    margin-top:150px;
}

nav>ul{
    width: 85%;
    margin: 0 auto;
}

nav a{
    display:block;
    color:white;
    background-color:lightgreen;
    margin-bottom: 10px;
    text-decoration: none;
    line-height: 30px;
    font-size:15px;
    padding: 0 5px;
}

article>h2{
    margin:30px 0 10px 0;
}

article>ul{
    list-style: "-";
    margin-left: 10px;
}

article>p:first-of-type{
    margin-bottom: 30px;
}
