@charset "UTF-8";
body {
    background-color: #eee;
}

.reloj {
    border-radius: 50%;
    background: #fff url('../imgs/reloj.svg') no-repeat center;
    background-size: 95%;
    height: 20em;
    position: relative;
    width: 20em;
    margin: 30px auto;
    box-shadow: 0 0 5px 1px #ccc;
}

.minutos-caja,
.horas-caja,
.segundos-caja {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.reloj .horas {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}

.reloj .minutos {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
}

.reloj .segundos {
    background: red;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}

.horas-caja {
    animation: rotate 86400s infinite linear;
}

.minutos-caja {
    animation: rotate 3600s infinite linear;
}

.segundos-caja {
    animation: rotate 60s infinite steps(60);
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.digital{
    margin: 20px auto;
    width: 20em;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
