@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}

div{
	width:500px;
	height:500px;
	margin:25px auto;
	background-color:rgba(0,0,0,1);
}

ul{
	width:500px;
	margin:10px auto;
}

li{
	list-style:none;
	width:500px;
}

li>a{
	display:block;
	width:100px;
	height:50px;
	line-height:50px;
	background-color:rgba(51,0,255,0.6);
	color:white;
	text-align:center;
}

li>a:hover{
	border-right:5px solid blue;
}

li:hover{
	background-color:rgba(204,204,204,1);
}

li:active{
	background-color:rgba(102,51,0,1);
}



