@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
}

div{
	width:20%;
	height:20%;
	background-color:#3300FF;
	position:fixed;
	left:80%;
	top:80%;
}

div:nth-child(2){
	width:100px;
	height:300px;
	background-color:#666;
	position:relative;
	left:0px;
	top:0px;
}

div>div{
	top:30px;
	left:-20px;
	width:100px;
	height:100px;
	background-image:url(5_1.jpg);
	background-position:top left;
	background-size:100% 100%;
	position:relative;
}
