@charset "UTF-8";

*{
    box-sizing: border-box;
}

body{
    background-color: black;
}

.wrapper{
    width: 800px;
    margin: 0 auto;
    text-align:center;
    position:relative;
}

h1{
    margin: 5px 0;
    text-align: center;
    font-size: 3em;
    color: white;
}
/* El calculo de top y left
 * consigue centrar en pantalla la información
 * de los planetas.
 * las restas corresponden a la mitad del tamaño
 * del valor de height y width, respectivamente.
 */
#mercurio,
#venus{
    position:absolute;
    width: 350px;
    height: 250px;
    top:calc((100% / 2 ) - 125px);
    left:calc((100% / 2) - 175px);
    background-color: rgba(0,0,0,0.5);
    color:white;
    border: 5px solid white;
    padding: 5px 10px;
    font-size: 15px;
    display:none;
}

h2{
    margin-bottom: 30px;
    display:inline-block;
}

.cerrar{
    float:right;
    padding: 3px;
    border: 2px solid white;
}

a{
    text-decoration:none;
    color:white;
    display:block;
}

#mercurio:target,
#venus:target{
    display:block;
}
