@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 500px;
    margin: 50px auto;
}

div{
    margin-bottom: 20px;
}

label, button, input{
    font-size:20px;
    margin: 10px;
}

input{
    border:1px solid #056;
    box-shadow: 1px 1px 5px gray;
    padding: 3px;
}

button{
    padding: 5px 20px;
    border:none;
    background-color: #056;
    color:white;
    box-shadow: 1px 1px 5px gray;
}
button:hover{
    cursor:pointer;
    box-shadow: 1px 1px 10px #000;
}
button:active{
    box-shadow: none;
}
