.wrapper {
    width: 1000px;
    background-color: #ccc;
    margin: 10px auto;
    height: 40px;
}

.wrapper>div {
    width: 500px;
    height: 20px;
    color: white;
}

.wrapper>div:nth-of-type(1) {
    background-color: blue;
    position: absolute;
    left: 10px;
    top: 100px;
}

.wrapper>div:nth-of-type(2) {
    background-color: red;
    position: absolute;
    left: 25px;
    top: 90px;
    z-index: -100;
}

.wrapper {
    position: relative;
    left: 10px;
    top: 100px;
}