.wrapper {
    position: relative;
    margin: 30px auto;
    background-color: #eee;
    width: 800px;
    height: 300px;
}

.wrapper>div {
    background-color: red;
    position: relative;
    width: 200px;
    height: 100px;
}

img {
    width: 40px;
}

.wrapper>div:first-child {
    background-color: blue;
    top: 30px;
    left: 90px;
}

.wrapper>div:last-child {
    background-color: red;
    left: 450px;
    top: -10px;
}

.wrapper>div>img {
    position: absolute;
}

.wrapper>div:first-child>img {
    left: -15px;
    top:-25px;
}


.wrapper>div:last-child>img {
    right: -10px;
    top: -25px;
}