body>div>div {
    width: 500px;
    height: 200px;
    background-color: #ccc;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

body>div:nth-child(1)>div+div {
    position: relative;
    left: 10px;
}

body>div:nth-of-type(1)>div~img {
    width: 100px;
    position: relative;
    top: 30px; 
}