@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}

html,body{
	width:100%;
	height:100%;
	/*bac*/
}



.tabla{
	display:table;
	width:75%;
	height:75%;
	margin:50px auto;
}

.fila{
	display:table-row;
}

.fila>div{
	width:50%;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	padding:50px;
}

.fila>div>div{
	position:absolute;
}

.fila>div>div>img{
	max-width:90%;
	height:90%;
}

.uno{
	transform:rotate(-10deg);
	-webkit-box-shadow: -5px 5px 2px 0 #999;
	box-shadow: -5px 5px 2px 0 #999;
	border-radius:10px;
}

.dos{
	transform:rotate(5deg);
	-webkit-box-shadow: -5px 5px 2px 0 #999;
	box-shadow: -5px 5px 2px 0 #999;
	border-radius:10px;
}

.tres{
	transform:rotate(-5deg);
	-webkit-box-shadow: -5px 5px 2px 0 #999;
	box-shadow: -5px 5px 2px 0 #999;
	border-radius:10px;
}

.cuatro{
	transform:rotate(10deg);
	-webkit-box-shadow: -5px 5px 2px 0 #999;
	box-shadow: -5px 5px 2px 0 #999;
	border-radius:10px;
}

.fila>div>div>.chincheta{
	position:absolute;
	top:-25px;
	left:-45px;
	width:100px;
	height:63px;
	z-index:10;
}

.fila>div>div>.celo{
	position:absolute;
	top:-25px;
	left:10px;
	width:250px;
	height:206px;
	clip:rect(0px,250px,40px,0px);
	z-index:15;
	transform:rotate(-10deg);
}

.fila>div>div>.celo1{
	position:absolute;
	top:-25px;
	left:10px;
	width:250px;
	height:106px;
	transform:rotate(-10deg);
	background:url(../imgs/JPEG/celo1.png) 0px 0px no-repeat;
	
}