@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

nav>ul {
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 60px;
    list-style: none;
}

nav>ul>li {
    width: 32%;
}

nav>ul a {
    text-align: center;
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #555;
    line-height: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(200, 200, 200, 0.5);
}

nav>ul a:hover {
    color: #555;
    background-color: #ccc;
}

section {
    display: none;
}

section:target {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

section article {
    width: 80%;
    height: 80%;
    box-shadow: 0 0 20px 5px #000;
    margin: 80px auto;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

article h2 {
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 5px #ccc;
    font-size: 40px;
}

article p {
    color: white;
    padding: 100px;
    font-size: 25px;
    text-align: justify;
}

article h3 {
    width: 50%;
    margin: 0 auto;
}

article h3>a {
    background-color: #333;
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(200, 200, 200, 0.5);
}

article h3>a:hover {
    color: blue;
    background-color: #fff;
}