@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    display: table;
    width: 800px;
    margin: 0 auto;
    height: 100%;
    background-color: #eee;
    box-shadow: 0 0 10px 3px #ccc;
}

.wrapper>div {
    display: table-row;
}

.wrapper>div>a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.wrapper img {
    width: 300px;
    height: 200px;
}

.modal {
    display: none;
}

.modal:target {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal .fila {
    display: table-row;
}

.modal .fila:nth-child(odd) {
    height: 10%;
}

.modal .fila:nth-child(1) p {
    text-align: right;
    display: table-cell;
    padding: 0 60px;
    vertical-align: middle;
}

.modal p {
    font-size: 25px;
}

.modal a {
    color: white;
    text-decoration: none;
    padding:5px 10px;
    border-radius: 30px;
    box-shadow: 0 0 20px 4px #fff;
}

.modal a:hover {
    box-shadow: 0 0 10px 5px #555;
}

.modal .fila:nth-child(2) img {
    width: 90%;
    height: 90%;
    border: 6px solid white;
    display: table-cell;
    margin: 0 auto;
    box-shadow: 0 0 15px 4px #999;
}


.modal .fila:nth-child(3)>div {
    display: table-cell;
    padding: 0 60px;
}

.modal .fila:nth-child(3)>div>div {
    display: table;
    width: 100%;
}

.modal .fila:nth-child(3)>div>div>div {
    display: table-row;
}

.modal .fila:nth-child(3)>div>div>div>p {
    display: table-cell;
}

.modal .fila:nth-child(3) p:first-child,
.modal .fila:nth-child(3) p:last-child {
    color: white;
    width: 10%;
}

.modal .fila:nth-child(3) p:last-child {
    text-align: right;
}

.modal .fila:nth-child(3) p:nth-child(2) {
    color: white;
    text-align: center;
    width: 80%;
}
