@charset "UTF-8";

*{
    box-sizing:border-box;
}

body{
    background:#eee;
}

.contenedor{
    width:1000px;
    margin: 50px auto;
    border: none;
}

fieldset{
    width:800px;
    margin: 0 auto;
    background: #ddd;
    border: 2px solid #555;
    padding: 20px;
}

legend{
    border: 2px solid #555;
    background: #fff;
    padding: 5px 10px;
}

p{
    margin-bottom: 20px;
}

fieldset>div{
    height: 40px;
}

fieldset>div>div{
    float: left;
    width: 250px;
}

.aficiones>div:first-child{
    width:100px;
}

.aficiones>div:last-child{
    width:300px;
}

.botones{
    clear:both;
    margin-top: 40px;
}

label{
    font-weight:bold;
}
.error{
    background: red;
    color:yellow;
    font-size:24px;
    font-weight:bold;
    display:none;
}

.errorOn{
    display:block;
}
