@charset "UTF-8";

body{
    background:#eee;
    font-family:  "Times New Roman", Times, Baskerville, Georgia, serif;
}

.contenedor{
    width: 1000px;
    margin: 50px auto;
}

.contenedor>div{
    margin: 30px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
    padding: 20px 0;
}

.contenedor h1{
    text-align: center;
    font-size: 25px;
}

canvas{
    width: 900px;
    height:500px;
    margin: 10px calc((1000px - 900px) / 2);
}
