ul {
    list-style: square;
}

ul {
    margin-left: 30px;
    margin-top: 20px;
}

p{margin-top:20px;margin-left: 10px;}

h1 {
    font-size: 40px;
}

.wrapper {
    width: 600px;
    margin: 20px auto;
}

.columna {
    width: 250px;
}

.columna:last-child {
    float: right;
}

.columna:first-child {
    float: left;
}


.columna>div{
    border-top: 2px solid #aaa;
    margin-bottom: 30px;
}

.columna>.foto{
    text-align: center;
    border-top: none;
}

.foto>img{
    width: 100px;
}
