.wrapper{
	width: 1000px;
	margin: 20px auto;
}
header{
	background-color: #ccc;
}
footer{
	background-color: #ddd;
	clear: both;
}
main>div:first-child{
	background-color: #999;
}
main>div:last-child{
	background-color: #555;
}
header,footer{
	height: 100px;
}
main>div{
	width: 500px;
	float:left;
	height: 500px;
}
