.wrapper {
    width: 999px;
    margin: 20px auto;
}

header {
    background-color: #ccc;
    height: 100px;
}

main>div:first-child {
    background-color: #999;
}

main>div:last-child {
    background-color: #555;
}

main>div {
    width: 333px;
    float: left;
    height: 500px;
}