.wrapper {
    width: 999px;
    margin: 20px auto;
}

header {
    background-color: #ccc;
}

header>div {
    height: 100px;
    float: left;
}

header>div:first-child {
    width: 499px;
    background-color: #777;
}

header>div:last-child {
    width: 500px;
    background-color: #333;
}

footer,
main {
    clear: both;
}

main>div:first-child {
    background-color: #999;
}

main>div:last-child {
    background-color: #555;
}

main>div {
    width: 333px;
    float: left;
    height: 500px;
}

footer>div {
    height: 100px;
    float: left;
}

footer>div:first-child {
    width: 499px;
    background-color: #333;
}

footer>div:last-child {
    width: 500px;
    background-color: #777;
}