.wrapper {
    width: 1000px;
    margin: 20px auto;
}

main{
    background-color: #999;
    width: 1000px;
    height: 500px;
}

footer>div {
    height: 100px;
    float: left;
    width: 500px;
}

footer>div:first-child {
    background-color: #333;
}

footer>div:last-child {
    background-color: #777;
}