.wrapper {
    width: 1000px;
    margin: 20px auto;
}

main>div {
    width: 500px;
    height: 500px;
    float: left;
}

main>div:first-child {
    background-color: #999;
}

main>div:last-child {
    background-color: #333;
}

footer {
    clear: both;
    height: 100px;
    width: 1000px;
    background-color: #555;
}