@charset "UTF-8";

body{
    background-color: #eee;
}
h1{
    text-align:center;
    line-height:2em;
    text-shadow: 2px 2px #ccc;
    font-weight: bold;
}

nav,
.thumbnail,
.pie,
.img-responsive{
    box-shadow: 2px 2px 10px 1px gray;
}

.navbar-header{
    padding: 10px 0;
    min-height: 80px; 
}

a.navbar-brand{
    line-height: 2em;
    padding:0 20px ;
}

.navbar-brand>img{
    width: 100px;
    height: 60px;
    margin:0;
    padding:0;
}

ul.navbar-nav>li>a{
    margin-top:10px;
    height: 60px;
    line-height:30px;
}

.navbar-form.navbar-right{
    margin-right:50px;
    margin-top:10px;
    padding-top: 10px;
}

.pie{
    background-color: rgba(245,245,245,1);
}
.img-responsive{
    width:100%;
    margin-bottom: 30px;
}
