/* css document */

body {
    font-family: sans-serif;
}

#contenedor {
    position: relative;
    width: 70%;
    margin: 40px auto;
    border: 3px solid #040;
    background-image: url("../imgs/decora_trans.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
}

#cabecera {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url("../imgs/cabecera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#menu {
    position: relative;
    width: 100%;
    height: 45px;
    border-top: 2px solid #040;
    border-bottom: 2px solid #040;
    background-image: url("../imgs/barranav.jpg");
    background-size: cover;
    color: white;
}

#menu ul {
    list-style: none;
    padding: 0 10px;
}

#menu li {
    float: left;
    padding-left: 5px;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 0 8px;
}

#menu a:hover {
    color: #f63611;
}

#cuerpo {
    overflow: hidden;
    margin-top: 40px;
}

#lateral {
    position: relative;
    width: 30%;
    float: left;
}

#lateral h2 {
    color: white;
    background-image: url("../imgs/titlat3.jpg");
    background-size: cover;
    margin: 0;
    font-weight: 400;
    padding: 5px;
    font-size: 1em;
    line-height: 2.5em;
}

#lateral>div{
    margin-top: 30px;
    background-color: #fffb4f;
    padding-bottom: 20px;
}

form {
    margin: 20px;
}

form ul {
    list-style: none;
    padding-left: 10px;
}

#lateral p {
    margin: 15px;
}

#informaciones {
    list-style-image: url("../imgs/bullet.gif");
}

#informaciones li {
    padding: 5px;
}

#lateral input[type=submit] {
    background-image: url("../imgs/go.gif");
    background-size: cover;
    width: 25px;
    height: 15px;
    border: none;
    vertical-align: bottom;
    cursor: pointer;
}

#contenido{
  width: 65%;
  float: right;
}

#migas {
    position: relative;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background-color: white;
    clear: both;
}

#migas ul {
    list-style: none;
    padding-left: 15px;
    float: right;
}

#migas li {
    float: left;
    padding-left: 5px;
    color: #5a974d;
}

#migas a {
    color: #5a974d;
    padding: 0 5px;
    text-decoration: none;
    font-weight: bold;
}

#migas a:hover {
    color: #f63611;
}