body {
    font-family: 'Wendy One', sans-serif;
}

.wrapper {
    background-color: #555;
    width: 1000px;
    margin: 40px auto;
}

h2 {
    color: #555;
    text-align: center;
    font-size: 25px;
}

h1,
.fecha>p {
    color: white;
}

header {
    width: 800px;
    height: 100px;
    position: relative;
    background-color: #999;
    margin: 0 auto;
    top: 30px;
}

.titulo {
    float: left;
    width: 500px;
    margin-top: 40px;
}

.titulo>h1 {
    text-align: center;
    font-size: 20px;
}

.fecha {
    float: right;
    width: 250px;
}

.fecha>p {
    text-align: center;
    font-size: 15px;
    margin-top: 45px;
}

header,
aside {
    border: 5px solid #555;
}

aside,
main {
    float: left;
    background-color: #999;
}

aside {
    width: 190px;
    height: 590px;
}

main {
    width: 600px;
    height: 600px
}

main>nav {
    margin: 35px auto;
    width: 560px;
    height: 80px;
}

aside>h2 {
    margin-top: 50px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
}

main h2 {
    clear: both;
    margin-top: 100px;
}

main>nav li {
    float: left;
}

main>nav a {
    background-color: #333;
    line-height: 30px;
    padding: 0 10px;
    border-top: 2px solid white;
    font-family: sans-serif;
    font-size: 15px;
}

main>nav ul {
    width: 580px;
    margin: 0 auto;
}

aside>nav {
    margin: 10px auto;
    width: 170px;
}

aside>nav a {
    margin-bottom: 10px;
    border-left: 15px solid white;
    line-height: 30px;
    padding-left: 10px;
    background-color: #555;
}

aside:last-child>h2 {
    margin-top: 210px;
}