*{
	margin:0px;
	padding:0px;
}

html,body{
	width:100%;
	height:100%;
}

section{
	width:525px;
	margin:0px auto;
}

section>div{
	margin:10px;
}

section>div:nth-child(1){
	width:225px;
	height:165px;
	border:1px solid #000;
	float:left;
}

section>div:nth-child(2){
	width:225px;
	height:165px;
	border:1px solid #000;
	float:right;
}

section>div:nth-child(3){
	width:502px;
	height:250px;
	border:1px solid #000;
	clear:left;
	float:none;
}

@media (max-width: 800px){
	body>section>div:nth-child(1),
	body>section>div:nth-child(2),
	body>section>div:nth-child(3){
		width:100%;
		float:none;
	}
}


/*
@media (max-width: 800px){
	body>section:nth-child(1)>div{
		width:100%;
		float:none;
	}
}
*/