ul{
    list-style:none;
    margin:0;
    padding:0;
}
#vertical{
  display: block;
  width: 200px;
  margin: 0 auto;
}
ul a{
    display:block;
    color: white;
    background-color:#167;
    text-align: center;
    line-height:2em;
    margin-bottom:5px;
    margin-right: 5px;
    width: 200px;
    text-decoration:none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333;
}
ul a:active{
    box-shadow:none;
}


#horizontal{
    display:none;
}

@media (min-width: 800px){
    #vertical{
        display:none;
    }
    #horizontal{
        display:flex;
        width:100%;
        justify-content: space-around;
    }
}
