/* CSS document */
/* Selector de clase */
.regla1{
	font-size: 10px;
	color:#ccc;
	border: thin solid black;
}

/* Selector por identficador */
#regla2{
	display: block;
}

/* Selector por etiqueta */
div{
	display: inline;
}