body{
  background-color:#ccc;
  margin-top:20px;
}

.listado{
  display:table;   
  margin:10px auto;
  border:2px solid #007bff;
}

.listado ul{
  background-color:#f2f2f3;
  display:table-row;
}

.listado li{
  display:table-cell;
  vertical-align:middle;
  border:1px solid #000;
  padding:20px;
}

.noticias img{
  width:50px;
}
.listado img{
  width:25px;
}



/* Estilo del área del input[file] */

.drag-drop {
  height: 8em;
  width: 8em;
  background-color: #aaa;
  border-radius: 4em;
  text-align: center;
  color: white;
  position: relative;
  margin: 0 auto 1em;
}

.drag-drop span.desc {
  display: block;
  font-size: .7em;
  padding: 0 .5em;
  color: #000;
}

input[type="file"] {
  height: 10em;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 3;
}

/* Estilo del área del input[file] con :hover */

.drag-drop:hover, input[type="file"]:hover {
  background-color: #3276b1;
  cursor: pointer;
}

.drag-drop:hover span.desc {
  color: #fff;
} 

.drag-drop:hover .pulsating {
  animation: pulse1 1s linear infinite;
  animation-direction: alternate ;
  -webkit-animation: pulse1 1s linear infinite;
  -webkit-animation-direction: alternate ;
}

/* Composición del icono de Upload con FontAwesome */
.fa-stack { margin-top: .5em; }

.fa-stack .top { color: white; }

.fa-stack .medium { 
  color: black;
  text-shadow: 0 0 .25em #666;
}

.fa-stack .bottom { color: rgba(225, 225, 225, .75); }

/* Keyframing de la animación */

@keyframes pulse1 {
  0% { color: rgba(225, 225, 225, .75); }
  50% { color: rgba(225, 225, 225, 0.25); }
  100% { color: rgba(225, 225, 225, .75); }
}

@-moz-keyframes pulse1 {
  0% { color: rgba(225, 225, 225, .75); }
  50% { color: rgba(225, 225, 225, 0.25); }
  100% { color: rgba(225, 225, 225, .75); }
}

@-webkit-keyframes pulse1 {
  0% { color: rgba(225, 225, 225, .75); }
  50% { color: rgba(225, 225, 225, 0.25); }
  100% { color: rgba(225, 225, 225, .75); }
}

@-ms-keyframes pulse1 {
  0% { color: rgba(225, 225, 225, .75); }
  50% { color: rgba(225, 225, 225, 0.25); }
  100% { color: rgba(225, 225, 225, .75); }
}

/* checkbox chulos */
.material-switch > input[type="checkbox"] {
  display: none;   
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}


/* altura del well */
.well-alto{
  min-height:600px;
}


/* animaciones de scroll */

img{
  animation-duration: 3s!important;
  animation-delay: 1s;
  /*animation-iteration-count: infinite;*/
  /*animation-direction: alternate;*/
}

/* imagenes usuarios*/
img.usuarios{
  height:100px;
  margin-left:auto;
  margin-right:auto;
}