@charset "UTF-8";

html,body{
    width:100%;
    height:100%;
}

.contenedor{
    width: 90%;
    height: 90%;
    margin:0 auto;
    position: relative;
}
.nombre{
    border: 10px solid red;
    font-size: 25px;
    color:red;
    background-color: white;
    position: absolute;
}
