@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 800px;
    margin: 30px auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.izda{
    width:50%;
}

.izda p{
    margin-top: 10px;
}
.titulo{
    background: url("../imgs/barco.jpg");
    background-size:cover;
    height: 300px;

}
.titulo h1:first-child{
    width:120px;
    margin-left:50%;
}
.titulo h1:last-child{
    width:120px;
    margin-left:60%;
}
.titulo h1{
    font-family:sans-serif;
    font-size: 40px;
}

.dcha{
    width: 40%;
}

ul.menu{
    list-style:none;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

ul.menu li a{
    display:block;
    text-decoration: none;
    color: black;
    margin: 25px 0;
    font-size: 20px;
}

