@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 900px;
    margin: 30px auto;
}

.menu{
    list-style:none;
    background-color: black;
    padding-left: 30px;
    padding-top: 10px;
}

.menu li{
    display:inline-block;
    margin-right: 10px;
}

.menu a{
    display:block;
    text-decoration:none;
    color: white;
    border-top: 3px solid white;
    line-height: 3em;
    padding:0 50px;
    font-size: 1.2em;
}

.menu a:hover{
    border-top: 1px solid white;
    font-weight: bold;
}

@media (max-width: 640px){
    .menu li{
        display:block;
    }
}
