@charset "UTF-8";
.contenedor {
    width: 980px;
    height: 1374px;
    margin: 20px auto;
}

.cabecera {
    width: 646px;
    height: 75px;
    margin: 0 auto;
    text-align:center;
    font-size: 40px;
}

.fotos{
    width:980px;
}

.col1{
    margin-left:20px;
}

.col1,.col2,.col3,.col4{
    width:220px;
    height:250px;
    float:left;
    margin-right:20px;
    text-align:center;
}
