@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.contenedor{
    width: 1000px;
    margin: 30px auto;
}

.tabla{
    display:table;
    border-collapse: separate;
    border-spacing: 20px 10px;
}

.fila{
    display:table-row;
}

.celda{
    display:table-cell;
}

img{
    width:100%;
}

#foto1:target,
#foto2:target,
#foto3:target,
#foto4:target,
#foto5:target,
#foto6:target,
#foto7:target,
#foto8:target,
#foto9:target
{
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#foto1:target a.boton,
#foto2:target a.boton,
#foto3:target a.boton,
#foto4:target a.boton,
#foto5:target a.boton,
#foto6:target a.boton,
#foto7:target a.boton,
#foto8:target a.boton,
#foto9:target a.boton
{
    display:block;
    text-align: center;
    padding:30px 50px;
    color: white;
    text-decoration:none;
    font-size: 30px;
    font-weight: bold;
}

#foto1:target img,
#foto2:target img,
#foto3:target img,
#foto4:target img,
#foto5:target img,
#foto6:target img,
#foto7:target img,
#foto8:target img,
#foto9:target img
{
    width:50%;
    margin-top: 25vh;
    margin-left: 25vw;
}

.celda a.boton{
    display:none;
}
