.wrapper {
    width: 900px;
    margin: 30px auto;
}

.wrapper>div>img {
    width: 200px;
}

.wrapper>div {
    width: 200px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 25px;
}

.fotos {
    display: table;
    margin: 0 auto;
    border-spacing: 10px;
}

.fotos>div {
    display: table-row;
}

.fotos>div>div {
    display: table-cell;
}

.fotos>div>div>img {
    width: 200px;
    height: 200px;
}