@charset "utf-8";
div>img {
    transition: all 5s linear 0s;
}

div>img:hover {
    visibility: hidden;
    /* no me hace falta lo pongo por si acaso para todos los navegadores */
    opacity: 0;
}


/*div{
	opacity:0;
}*/


/*div>img:first-of-type{
	opacity:0;
}*/


/*div>img:first-of-type{
	display:none;
}*/


/*div>img:first-of-type{
	visibility:hidden;
}*/
