@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    background-image: url("../imgs/fondo.png");
    color: rgb(217, 115, 0);
    padding: 50px 30px;
    font-size: 20px;
}

header {
    height: 200px;
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgb(217, 115, 0);
    display: block;
}

.logo-header {
    float: left;
    width: 400px;
}

.contacto {
    margin-top: 40px;
    float: right;
    width: 300px;
    font-size: 15px;
}

.contacto>ul {
    list-style: none;
    text-align: right;
}

nav {
    width: 1000px;
    height: 40px;
    margin: 0 auto;
}
/* Uso flex para colocar y distribuir los
 * elementos del menú horizontal.
 */
nav>ul {
    display:flex;
    justify-content: space-between;
    height: 40px;
    border-bottom: 2px solid rgb(217, 115, 0);
}

nav>ul>li {
    height: 40px;
    position: relative;
}
nav>ul>li:nth-child(3),
nav>ul>li:nth-child(4) a,
nav>ul>li:nth-child(5) a{
    text-align:center;
}

nav>ul>li:nth-child(3) li,
footer>ul>li{
    margin-bottom: 10px;
    text-align: left;
}
/* Ocultación y transición del submenú.
 * Para el menú horizontal.
 */
nav>ul>li:nth-child(3) ul{
    position: absolute;
    overflow: hidden;
    top: 45px;
    left: 10px;
    background-color:white;
    width:200px;
    box-shadow: 0 0 20px black;
    max-height:0;
    transition: all 1s;
}

nav>ul>li:nth-child(3):hover ul{
    max-height: 150px;
    padding:20px;
}

nav>ul>li:last-child a {
    float: right;
    margin-left: 10px;
}

main {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

main>img{
    box-shadow:0 20px 30px -10px black;
}

footer {
    width: 1000px;
    margin: 0 auto;
    padding-left: 40px;
}
/* El triángulo a la izquierda del menú vertical
 * del footer.
 */
footer>ul>li::before{
	position:absolute;
	content:"";
	transform:translateY(50%);
	margin-left:-20px;
	width: 0; 
	height: 0; 
    border-left: 5px solid rgb(217,115,0);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
	}
/* El dibujo del triángulo debajo de los elementos
 * del menú horizontal.
 * */
.triangulo {
    position:absolute;
    top:40px;
    left:50%;
    width: 0;
    height: 0;
    border-top: 5px solid rgb(217,115,0);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
/* Para fijar la imagen en la esquina inferior derecha
 * y conseguir que no quede por encima de los demás
 * elementos cuando se hace scroll.
 */
.logo-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}
