body {
    font-family: 'Convergence', sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 20px auto;
}

#header {
    height: 100px;
    background-color: #555;
}

#navigation,
#content,
#linklist {
    float: left;
    height: 700px;
}

#navigation {
    background-color: #999;
    width: 300px;
}

#content {
    background-color: #777;
    width: 500px;
}

#linklist {
    background-color: #999;
    width: 200px;
}

#footer {
    clear: both;
    background-color: #555;
    height: 70px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

#header>h1 {
    padding-top: 35px;
}

#footer>h1 {
    padding-top: 10px;
}

#navigation>h1,
#content>h1,
#linklist>h1 {
    padding-top: 300px;
}