body {
    font-family: 'Convergence', sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 20px auto;
}

#header {
    height: 150px;
    background-color: #f4a8d3;
}

#navigation,
#central,
#linklist {
    float: left;
    height: 700px;
}

#navigation {
    background-color: #3dea3a;
    width: 250px;
}

#central {
    width: 500px;
}

#content {
    background-color: #8cbdf7;
    width: 500px;
    height: 600px;
}

#linklist {
    background-color: #cb8cf7;
    width: 250px;
}

#footer {
    background-color: #f7ef59;
    height: 100px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 1.5em;
}

#header>h1 {
    padding-top: 35px;
}

#footer>h1 {
    padding-top: 40px;
}

#navigation>h1,
#content>h1,
#linklist>h1 {
    padding-top: 300px;
}