body {
    font-family: 'Convergence', sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 20px auto;
}

#header {
    height: 150px;
    background-color: #f4a8d3;
}

#lateral,
#linklist {
    float: right;
    height: 700px;
}

#navigation {
    background-color: #3dea3a;
    height: 60px;
}

#lateral {
    width: 800px;
}

#content {
    background-color: #8cbdf7;
    height: 600px;
}

#linklist {
    background-color: #cb8cf7;
    width: 200px;
}

#footer {
    background-color: #f7ef59;
    height: 100px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 1.5em;
}

#header>h1 {
    padding-top: 35px;
}

#footer>h1 {
    padding-top: 40px;
}

#navigation>h1{
    padding-top:15px;
}
#content>h1,
#linklist>h1 {
    padding-top: 300px;
}