body {
    font-family: 'Convergence', sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 20px auto;
}

#header {
    height: 150px;
    background-color: #f4a8d3;
}

#navigator,
#linklist,
#footer {
    height: 60px;
}

#navigation {
    background-color: #3dea3a;
}

#content {
    background-color: #8cbdf7;
    height: 600px;
}

#linklist {
    background-color: #cb8cf7;
}

#footer {
    background-color: #f7ef59;
}

h1 {
    color: black;
    text-align: center;
    font-size: 1.5em;
}

#header>h1 {
    padding-top: 35px;
}

#footer>h1,
#linklist>h1,
#navigation>h1 {
    padding-top: 15px;
}

#content>h1{
    padding-top: 300px;
}