body {
    font-family: 'Convergence', sans-serif;
}

#wrapper {
    width: 1000px;
    margin: 20px auto;
}

#header {
    height: 150px;
    background-color: #f4a8d3;
}

#lateral {
    width: 200px;
}

#lateral,
#content {
    height: 600px;
    float: left;
}

#navigation,
#linklist {
    height: 300px;
}

#navigation {
    background-color: #3dea3a;
}

#content {
    background-color: #8cbdf7;
    width: 800px;
}

#linklist {
    background-color: #cb8cf7;
}

#footer {
    background-color: #f7ef59;
    height: 100px;
    clear:both
}

h1 {
    color: black;
    text-align: center;
    font-size: 1.5em;
}

#header>h1 {
    padding-top: 35px;
}

#linklist>h1,
#navigation>h1 {
    padding-top: 100px;
}

#footer>h1
{
    padding-top: 30px;
}

#content>h1 {
    padding-top: 200px;
}