@charset "UTF-8";.container{margin-top: 30px;}.mapa{position: relative;}#hospitales-0{position:absolute;top: 100px;;left: 100px;;line-height: 1.5em;font-weight: bold;font-size: 25px;color: #00f;}#hospitales-1{position:absolute;top: 200px;;left: 300px;;line-height: 1.5em;font-weight: bold;font-size: 25px;color: #00f;}#hospitales-2{position:absolute;top: 50px;;left: 200px;;line-height: 1.5em;font-weight: bold;font-size: 25px;color: #00f;}
