.wrapper {
    width: 600px;
    margin: 30px auto;
}

ol {
    list-style: upper-alpha;
    margin-top: 30px;
    margin-left: 30px;
}

.negrita {
    font-weight: bold;
}

h1{
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 2px solid #999;
}