.wrapper{
    width: 1000px;
    margin: 30px auto;
}

div{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

div>img{
    width: 500px;
}

h1{
    font-size: 28px;
    font-family: "Courier New", sans-serif;
    color:blue;
    font-weight: bold;
    font-style: italic;
}