@charset "UTF-8";

body{
    padding-top: 20px;
}
.navbar{
    padding: 10px 30px;
}

.navbar-brand{
    width: 200px;
    text-align: center;
    background-color: #eee;
}

.portada img{
    width:100%;
}

.row{
    margin-bottom:20px;
}
