@charset "UTF-8";

*{
    box-sizing:border-box;
}

body{
    background:#eee;
}

div{
    border: 2px solid #000;
    margin: 5px;
}

.contenedor{
    width:1000px;
    margin: 50px auto;
    border: none;
}

.tragaperras{
    margin:0;
    background:#ddd;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#marcador{
    border:none;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

#marcador>div{
    border: none;
    text-align: center;
    flex: 1 0 45%;
}

.boton{
    background:#06c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.boton:hover{
    cursor:pointer;
    box-shadow:0 0 5px 5px #fff;
}

#apuesta,#moneda,#carita{
    height: 100px;
    margin-top: 10px;
    font-size: 40px;
    padding: 25px;
    background:#fff;
}

#img1,#img2,#img3{
    width:200px;
    height:290px;
    background:#fff;
}
img{
    width:95%;
    height:95%;
}
#resultado{
    border:none;
}
#carita{
    display:flex;
    justify-content:space-around;
}
