@charset "UTF-8";
* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 40px auto;
}

.wrapper>h1 {
    text-align: center;
    font-size: 40px;
}

#bien,
#mal {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 500px;
}

#bien {
    float: left;
    background-image: url("../fotos/1bien.png");
}

#mal {
    background-image: url("../fotos/1mal.png");
    float: right;
    position: relative;
}

.wrapper>div:first-child {
    height: 500px;
}

#barra {
    margin-top: 20px;
    height: 40px;
    background-color: red;
    border-radius: 20px;
}

.errores {
    width: 100px;
    height: 100px;
    position: absolute;
}

.acierto {
    background-image: url('../fotos/tic.png');
    background-size: contain;
    background-repeat: no-repeat;
}
