@charset "UTF-8";
* {
    box-sizing: border-box;
}

body {
    background: #eee;
}

div.parte1,
div.parte2{
    background: #fff;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
}

